@import './_colors.scss';
$room-width: 450px;
$room-margin: 15px;
$room-height: 400px;
$room-flex-margin: 15px;
$room-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16),
0 2px 4px rgba(0, 0, 0, 0.23);

/*
* === Room specific style ===
*/

.room-widget {
    width: $room-width;
    height: $room-height;
    margin: $room-margin;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background: $primary-text-color;
    border-radius: 4px;
    box-shadow: $room-box-shadow;
}

.room-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.room-flex-container__filler {
    width: $room-width + 2 * $room-margin;
    height: 0;
    margin-top: 0!important;
    margin-bottom: 0!important;
}
