@import './_colors.scss';
$widget-elem-width: 240px;
$widget-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16),
0 2px 4px rgba(0, 0, 0, 0.23);

/*
* === Reusable widget style ===
*/

.generic-widget {
    height: 100%;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 70px;
    text-align: left;
    background: white;
    border-radius: 3px;
    box-shadow: $widget-box-shadow;
}

@media (max-width: 400px) {
    .generic-widget {
        padding-left: 45px;
    }
}

.generic-widget>div {
    margin-bottom: 10px;
}

.generic-widget>div:last-of-type {
    margin-bottom: 0;
}

.generic-widget {
    input,
    .input {
        width: $widget-elem-width;
    }
}

.generic-widget {
    .input {
        vertical-align: top;
        height: 35px;
        margin: 5px;
        margin-left: 0px;
    }
}

.widget__header {
    font-size: 1.6rem;
    white-space: nowrap;
}

.widget__header-menu {
    .btn {
        margin: 5px 5px 5px 5px;
        font-size: 1.4rem;
    }
}

.widget__content>div {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.widget__input-label {
    color: $widget-input-color;
    margin-right: 5px;
}

.widget__input-textarea {
    height: 35px;
    width: 400px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}