/*
* === App skeleton style ===
*/

.App {
  text-align: center;
  width: "100%";
  height: "100%";
}

.App-header {
  background-color: #222;
  height: 45px;
  padding: 10px;
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

.App-intro {
}

.App-module {
  position: absolute;
  width: 100%;
  top: 45px;
  bottom: 30px;
  overflow: auto;
  margin: 0px;
  background: lightgray;
  padding: 20px;
}

.App-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #222;
  height: 30px;
  padding: 5px;
  color: white;
  font-size: 1.5rem;
}

/*
* === Reusable widget style ===
*/

.widget>div {
  margin-bottom: 10px;
}

.widget>div:last-of-type {
  margin-bottom: 0px;
}

.widget input, .widget button, .widget .inputStyle {
  width: 240px;
}

.widget-header-text {
  font-size: 1.8rem;
}

.widget-body {
  
}

.widget-block-span {
  
}

.widget-block-span>div {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.widget-input-label {
  color: #a9a9b1;
  margin-right: 5px;
}

.widget-input {

}

.widget-input-button {
  
}

.widget-action-group {
  
}

.widget-action-button {
  
}

/*
* === Chatroom specific style ===
*/

.room-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.room {
  width: 450px;
  height: 360px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.room-flex-filling {
  width: 480px;
  height: 0;
}

.room-chat-list {
  width: 450px;
  height: 400px;
  overflow: hidden;
}

.room-chat-input {
  width: 450px;
  height: 400px;
  overflow: hidden;
}