/*
* === Chatroom specific style ===
*/

.room-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.room {
  width: 450px;
  height: 360px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.room-flex-filling {
  width: 480px;
  height: 0;
}

.room-chat-body {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
}

.room-chat-list {
  width: 450px;
  height: 400px;
  overflow: hidden;
}

.room-chat-input {
  width: 450px;
  height: 400px;
  overflow: hidden;
}
